# MedTrack Configuration File
# ----------------------------------------------------
# Toggle to 'True' when ready to connect to Live AWS
USE_AWS=False

# Flask Secret Key
SECRET_KEY=medtrack-super-secret-production-key-2026

# AWS Region (e.g. us-east-1, us-west-2, ap-south-1)
AWS_REGION=us-east-1

# AWS Credentials (leave blank if running on an EC2 instance with an attached IAM Role)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# If using AWS Academy / AWS Educate / Learner Labs, provide the session token:
AWS_SESSION_TOKEN=

# DynamoDB Table Names
DYNAMODB_PATIENTS_TABLE=MedTrack_Patients
DYNAMODB_DOCTORS_TABLE=MedTrack_Doctors
DYNAMODB_APPOINTMENTS_TABLE=MedTrack_Appointments
DYNAMODB_DIAGNOSES_TABLE=MedTrack_Diagnoses

# AWS SNS Topic ARNs
SNS_APPOINTMENT_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:MedTrack_Appointments_Topic
SNS_DIAGNOSIS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:MedTrack_Diagnosis_Topic

# AWS S3 Bucket Name for Lab Reports & Medical Scans
S3_BUCKET_NAME=medtrack-medical-reports
